.boxes {
    position:relative;
    width:325px;
}
#links {
    height:800px;
    position:relative;
    margin:auto;
    width:800px;
    background-color:#eee;
    padding-bottom:100px;
    z-index:-1;
    top:50px;
}
.lnkboxs {
    position: absolute;
    top:50%;
    background-color: #148fb4;
    font-size:25px;
    width:100%;
    text-align:center;
}
.section-left{
    float: left;
    padding: 20px;
}
.section-left::after{
    display:block;
    clear:both;
    content: "";
}

.section-right{
    float: right;
    padding: 20px;
}
.section-right::after{
display:block;
clear:both;
content: "";
}

body{
    padding-bottom:100px;
    line-height: 1.5;
    margin:auto;
    background-color: #dddddd;
    font-style: "Georgia", Times, Serif; 
    color: #333333;
}
img{
    height:230px;
    width:100%
}
@media screen and (max-width: 980px){

}
@media screen and (max-width: 768px){
    #links{
        padding-bottom:0px;
        position:relative;
        width:90%;
    }
    body{
        padding-bottom:0px;
    }
    .boxes{
        width:100%;
        position:relative;
    }
    img{
        height:8%;
    }
    .lnkboxs {
        position: absolute;
        top:50%;
        background-color: #148fb4;
        font-size:15px;
        width:100%;
        text-align:center;
    }
    .section-left{
        width:40%;
        float: left;
        padding-left:20px;
    }
    .section-left::after{
        display:block;
        clear:both;
        content: "";
    }
    .section-right{
        width:40%;
        float: right;
        padding-right: 20px;
    }
    .section-right::after{
        display:block;
        clear:both;
        content: "";
    }
    .footer{
        position:static;
        margin-bottom:0px;
    }
}
@media screen and (max-width: 640px){
    #links {
        height:auto;
        top:0px;
        margin:auto;
        width:90%;
        background-color:#eee;
        z-index:-1;
        margin-bottom:0px;
    }
    body{
        padding-bottom:0px;
        height:auto;
        margin-top:5%;
        margin:auto;
        background-color: #dddddd;
        font-style: "Georgia", Times, Serif; 
        color: #333333;
    }
    .boxes {
        position:relative;
        width:100%;
        margin:auto;
    }
    .section-right, .section-left{
        float: none;
        padding: 20px;
        width:90%;
    }

    .lnkboxs {
        position: absolute;
        background-color: #148fb4;
        font-size:25px;
        width:100%;
        text-align:center;
        top:50%;
    }
    .footer{
        position:static;
        margin-bottom:0px;
    }
}
