#dif-box {
    width:60%;
    margin:auto;
    position:relative;
    top:100px;
    margin-bottom:20px;
    background-color: #bdeaee;
    border-radius: 20px;
}
body{
    margin:0px;
    padding:0px;
    width:100%;
}
.contact-info {
    width: 100%;
}
#bxht{
    width:350px;
    height:30px;
}
.lngwdbox {
    width: 90%;
    margin: 5%;
}
#bigboibox{
    width:90%;
    margin:5%;
    height: 100px;
}
#submitbox{
    margin:auto;
    display:block;
    position: relative;
    bottom: 10px;
}
@media screen and (max-width: 980px){
    #dif-box{
        float: left;
        margin-top: -20px;
    }

}
@media screen and (max-width: 768px){
    #dif-box{
        position:relative;
        z-index:-1;
        width:90%;
        margin-bottom:10px;
    }
    .footer{
        height:auto;
        position:absolute;
    }
}
@media screen and (max-width: 640px){
    #dif-box{
        position:none;
        margin:auto;
        top:auto;
        width:90%;
    }
    .footer{
    position:absolute;
    }
}

